 .subtitle {
     color: white;
     padding-left: 3%;
     padding-top: 1%;
     background-color: black;
 }

 .heater {
     position: absolute;
     text-align: right;
 }

 .container {
     margin-top: 10rem;
 }

 .card {
     max-width: 200px;
 }

 .content {
     padding: 12px;
 }

 .content {
     margin-bottom: 12px;
 }

 .loading-spinner {
     padding: 9rem;
     background-color: 0, 0, 0, 0.15;
     display: flex;
     align-items: center;
     justify-content: center;
 }