 .subtitle {
     color: white;
     padding-left: 3%;
     padding-top: 3%;
     background-color: black;
 }

 .heater {
     margin-top: 128%;
     margin-left: 9rem;
     position: absolute;
     text-align: right;
 }

 .container {
     margin-top: 10rem;
 }

 .card {
     max-width: 200px;
 }

 .content {
     padding: 12px;
 }

 .content {
     margin-bottom: 12px;
 }

 .loading-spinner {
     padding: 9rem;
     background-color: 0, 0, 0, 0.15;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 /*//////// */
 button {
     margin-left: 67rem;
 }

 .inicio {
     margin-left: -137rem;
 }

 .badge {
    top: 1rem;
     position: absolute;
     padding-left: 3rem;
 }
 