<div class="container">
    <mat-grid-list cols="6" rowHeight="4:5.7">
        <mat-grid-tile>
            <mat-card class="card">
                <img mat-card-image src="https://i.pinimg.com/originals/b1/c2/d5/b1c2d584120d2379e5c3d81fb4f92b8c.jpg"
                    alt="Photo of a Shiba Inu">
                <!-- <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content> -->
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="card">
                <img mat-card-image src="https://i.pinimg.com/originals/b1/c2/d5/b1c2d584120d2379e5c3d81fb4f92b8c.jpg"
                    alt="Photo of a Shiba Inu">
                <!-- <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                </p>
            </mat-card-content> -->
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="card">
                <img mat-card-image src="https://i.pinimg.com/originals/b1/c2/d5/b1c2d584120d2379e5c3d81fb4f92b8c.jpg"
                    alt="Photo of a Shiba Inu">
                <!-- <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content> -->
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="card">
                <img mat-card-image src="https://i.pinimg.com/originals/b1/c2/d5/b1c2d584120d2379e5c3d81fb4f92b8c.jpg"
                    alt="Photo of a Shiba Inu">
                <!-- <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content> -->
            </mat-card>
        </mat-grid-tile>


        <mat-grid-tile>
            <mat-card class="card">
                <img mat-card-image src="https://i.pinimg.com/originals/b1/c2/d5/b1c2d584120d2379e5c3d81fb4f92b8c.jpg"
                    alt="Photo of a Shiba Inu">
                <!-- <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content> -->
            </mat-card>
        </mat-grid-tile>


        <mat-grid-tile>
            <mat-card class="card">
                <img mat-card-image src="https://i.pinimg.com/originals/b1/c2/d5/b1c2d584120d2379e5c3d81fb4f92b8c.jpg"
                    alt="Photo of a Shiba Inu">
                <!-- <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content> -->
            </mat-card>
        </mat-grid-tile>


        <mat-grid-tile>
            <mat-card class="card">
                <img mat-card-image src="https://i.pinimg.com/originals/b1/c2/d5/b1c2d584120d2379e5c3d81fb4f92b8c.jpg"
                    alt="Photo of a Shiba Inu">
                <!-- <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content> -->
            </mat-card>
        </mat-grid-tile>


        <mat-grid-tile>
            <mat-card class="card">
                <img mat-card-image src="https://i.pinimg.com/originals/b1/c2/d5/b1c2d584120d2379e5c3d81fb4f92b8c.jpg"
                    alt="Photo of a Shiba Inu">
                <!-- <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content> -->
            </mat-card>
        </mat-grid-tile>


        <mat-grid-tile>
            <mat-card class="card">
                <img mat-card-image src="https://i.pinimg.com/originals/b1/c2/d5/b1c2d584120d2379e5c3d81fb4f92b8c.jpg"
                    alt="Photo of a Shiba Inu">
                <!-- <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content> -->
            </mat-card>
        </mat-grid-tile>

    </mat-grid-list>
</div>