.card {
     background-color: rgb(87, 87, 87);
}

.card {
    max-width: 200px;
  }
.content {
    padding: 12px;
}

.content {
    margin-bottom: 12px;
}

.loading-spinner {
    padding: 9rem;
    background-color: 0, 0, 0, 0.15;
    display: flex;
    align-items: center;
    justify-content: center;
}